# preprocessing

In [1]:
import pandas as pd

### Mapping

In [2]:
fam = pd.read_csv('../data/languagesMSD.csv')

fam = fam.drop(['NameOLD', 'MacroareaOLD', 'MacroareaNEW',
       'LatitudeOLD', 'LatitudeNEW', 'LongitudeOLD', 'LongitudeNEW',
       'GlottocodeOLD', 'GlottocodeNEW', 'ISO639P3code',
       'FamilyNEW', 'SubfamilyOLD', 'SubfamilyNEW', 'GenusOLD', 'GenusNEW',
       'GenusIcon', 'ISO_codesOLD', 'ISO_codesNEW', 'Samples_100',
       'Samples_200', 'Country_IDOLD', 'Country_IDNEW', 'Source'], axis = 1)
fam.columns = ['Language_ID','Name', 'Familiy']

fams = {}
names = {}
i = 0
for i in range(len(fam.index)):
    abbv, family, name = fam.iloc[i][0], fam.iloc[i][2], fam.iloc[i][1]
    fams[abbv] = family
    names[abbv] = name

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_17697/2320090373.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  abbv, family, name = fam.iloc[i][0], fam.iloc[i][2], fam.iloc[i][1]

### Loading data set

In [3]:
df = pd.read_csv('../data/values.csv')

In [4]:
df['Name'] = df['Language_ID']
df['Family'] = df['Language_ID']

In [5]:
df['Name'] = df['Name'].map(names)
df['Family'] = df['Family'].map(fams)

In [6]:
df = df.drop(['ID','Code_ID', 'Comment', 'Source', 'Example_ID' ],axis=1)

In [7]:
df.dropna()

      Language_ID Parameter_ID  Value                Name        Family
0             aab          81A      2       Arapesh (Abu)    Torricelli
1             aab          82A      1       Arapesh (Abu)    Torricelli
2             aab          83A      2       Arapesh (Abu)    Torricelli
3             aab          87A      2       Arapesh (Abu)    Torricelli
4             aab          88A      2       Arapesh (Abu)    Torricelli
...           ...          ...    ...                 ...           ...
76470         zzo         144B      3  Zapotec (Zoogocho)  Oto-Manguean
76471         zzo         144T      1  Zapotec (Zoogocho)  Oto-Manguean
76472         zzo         144V      1  Zapotec (Zoogocho)  Oto-Manguean
76473         zzo         144W      6  Zapotec (Zoogocho)  Oto-Manguean
76474         zzo         144X      4  Zapotec (Zoogocho)  Oto-Manguean

[72698 rows x 5 columns]

### Preprocessingfunction

In [8]:
def read_and_write(feature_name, list_of_values):
    feature = df[df['Parameter_ID'] == str(feature_name)]

    
    diction = dict(enumerate(list_of_values))
    new_diction = {}
    for key in diction:
        new_diction[key+1] = diction[key]

    feature.Value = feature.Value.map(new_diction)

    feature = feature.dropna(axis=0)
    
    feature.Parameter_ID = str(feature_name)

    import os
    feature.to_csv('../Processed/'+str(feature_name)+'.csv', index = False)

### preprocessing for U17

Feature 88A: Order of Demonstrative and Noun

In [9]:
read_and_write(feature_name = '88A', list_of_values= ['Demonstrative-Noun', 'Noun-Demonstrative', 'Demonstrative_prefix	', 'Demonstrative_suffix', 'Demonstrative_before_and_after_Noun', 'Mixed'])

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_17697/3645149375.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature.Value = feature.Value.map(new_diction)

Feature 89A: Order of Numeral and Noun

In [10]:
read_and_write(feature_name = '89A', list_of_values= ['Numeral-Noun', 'Noun-Numeral', 'No_dominant_order_numeral_noun', 'Numeral only modifies verb'])

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_17697/3645149375.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feature.Value = feature.Value.map(new_diction)