# preprocessing

In [1]:
import pandas as pd

### Mapping

In [2]:
fam = pd.read_csv('../data/languagesMSD.csv')

fam = fam.drop(['NameOLD', 'MacroareaOLD', 'MacroareaNEW',
       'LatitudeOLD', 'LatitudeNEW', 'LongitudeOLD', 'LongitudeNEW',
       'GlottocodeOLD', 'GlottocodeNEW', 'ISO639P3code',
       'FamilyNEW', 'SubfamilyOLD', 'SubfamilyNEW', 'GenusOLD', 'GenusNEW',
       'GenusIcon', 'ISO_codesOLD', 'ISO_codesNEW', 'Samples_100',
       'Samples_200', 'Country_IDOLD', 'Country_IDNEW', 'Source'], axis = 1)
fam.columns = ['Language_ID','Name', 'Familiy']

fams = {}
names = {}
i = 0
for i in range(len(fam.index)):
    abbv, family, name = fam.iloc[i][0], fam.iloc[i][2], fam.iloc[i][1]
    fams[abbv] = family
    names[abbv] = name

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_1448/2320090373.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  abbv, family, name = fam.iloc[i][0], fam.iloc[i][2], fam.iloc[i][1]

### Loading data set

In [3]:
df = pd.read_csv('../data/values.csv')

In [4]:
df['Name'] = df['Language_ID']
df['Family'] = df['Language_ID']

In [5]:
df['Name'] = df['Name'].map(names)
df['Family'] = df['Family'].map(fams)

In [6]:
df = df.drop(['ID','Code_ID', 'Comment', 'Source', 'Example_ID' ],axis=1)

In [7]:
df.dropna()

      Language_ID Parameter_ID  Value                Name        Family
0             aab          81A      2       Arapesh (Abu)    Torricelli
1             aab          82A      1       Arapesh (Abu)    Torricelli
2             aab          83A      2       Arapesh (Abu)    Torricelli
3             aab          87A      2       Arapesh (Abu)    Torricelli
4             aab          88A      2       Arapesh (Abu)    Torricelli
...           ...          ...    ...                 ...           ...
76470         zzo         144B      3  Zapotec (Zoogocho)  Oto-Manguean
76471         zzo         144T      1  Zapotec (Zoogocho)  Oto-Manguean
76472         zzo         144V      1  Zapotec (Zoogocho)  Oto-Manguean
76473         zzo         144W      6  Zapotec (Zoogocho)  Oto-Manguean
76474         zzo         144X      4  Zapotec (Zoogocho)  Oto-Manguean

[72698 rows x 5 columns]

### preprocessing for U3

81A: Order of Subject, Object and Verb

In [8]:
A81 = df[df['Parameter_ID'] == '81A']

In [9]:
A81.head(10)

    Language_ID Parameter_ID  Value           Name               Family
0           aab          81A      2  Arapesh (Abu)           Torricelli
51          aba          81A      1           Abau                Sepik
118         abi          81A      2         AbipÃ³n           Guaicuruan
236         abk          81A      1         Abkhaz  Northwest Caucasian
346         abn          81A      1        Arabana         Pama-Nyungan
369         abo          81A      1         Arbore         Afro-Asiatic
395         abu          81A      2           Abun          West Papuan
446         abv          81A      1           Abui    Timor-Alor-Pantar
510         ace          81A      7       Acehnese         Austronesian
566         acg          81A      2        Achagua             Arawakan

#### 81A:
- Value 1 = SOV
- Value 2 = SVO
- Value 3 = VSO
- Value 4 = VOS
- Value 5 = OVS
- Value 6 = OSV
- Value 7 = No_dominant_word_order

In [10]:
A81.Value = A81.Value.map({1:'SOV', 2:'SVO', 3:'VSO', 4:'VOS', 5: 'OVS', 6:'OSV', 7:'No_dominant_word_order'})

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_1448/3695182782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A81.Value = A81.Value.map({1:'SOV', 2:'SVO', 3:'VSO', 4:'VOS', 5: 'OVS', 6:'OSV', 7:'No_dominant_word_order'})

In [11]:
A81.Value.value_counts()

Value
SOV                       564
SVO                       488
No_dominant_word_order    189
VSO                        95
VOS                        25
OVS                        11
OSV                         4
Name: count, dtype: int64

In [12]:
A81 = A81.dropna(axis=0)

In [13]:
A81.Value.value_counts()

Value
SOV                       532
SVO                       481
No_dominant_word_order    179
VSO                        90
VOS                        24
OVS                        10
OSV                         4
Name: count, dtype: int64

In [14]:
A81.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1320 entries, 0 to 76448
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Language_ID   1320 non-null   object
 1   Parameter_ID  1320 non-null   object
 2   Value         1320 non-null   object
 3   Name          1320 non-null   object
 4   Family        1320 non-null   object
dtypes: object(5)
memory usage: 61.9+ KB

In [15]:
A81.Parameter_ID = 'A81'

In [16]:
import os
A81.to_csv('../Processed/81A.csv', index = False)