# preprocessing

In [1]:
import pandas as pd

### Mapping

In [2]:
fam = pd.read_csv('../data/languagesMSD.csv')

fam = fam.drop(['NameOLD', 'MacroareaOLD', 'MacroareaNEW',
       'LatitudeOLD', 'LatitudeNEW', 'LongitudeOLD', 'LongitudeNEW',
       'GlottocodeOLD', 'GlottocodeNEW', 'ISO639P3code',
       'FamilyNEW', 'SubfamilyOLD', 'SubfamilyNEW', 'GenusOLD', 'GenusNEW',
       'GenusIcon', 'ISO_codesOLD', 'ISO_codesNEW', 'Samples_100',
       'Samples_200', 'Country_IDOLD', 'Country_IDNEW', 'Source'], axis = 1)
fam.columns = ['Language_ID','Name', 'Familiy']

fams = {}
names = {}
i = 0
for i in range(len(fam.index)):
    abbv, family, name = fam.iloc[i][0], fam.iloc[i][2], fam.iloc[i][1]
    fams[abbv] = family
    names[abbv] = name

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_18073/2320090373.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  abbv, family, name = fam.iloc[i][0], fam.iloc[i][2], fam.iloc[i][1]

### Loading data set

In [3]:
df = pd.read_csv('../data/values.csv')

In [4]:
df['Name'] = df['Language_ID']
df['Family'] = df['Language_ID']

In [5]:
df['Name'] = df['Name'].map(names)
df['Family'] = df['Family'].map(fams)

In [6]:
df = df.drop(['ID','Code_ID', 'Comment', 'Source', 'Example_ID' ],axis=1)

In [7]:
df.dropna()

      Language_ID Parameter_ID  Value                Name        Family
0             aab          81A      2       Arapesh (Abu)    Torricelli
1             aab          82A      1       Arapesh (Abu)    Torricelli
2             aab          83A      2       Arapesh (Abu)    Torricelli
3             aab          87A      2       Arapesh (Abu)    Torricelli
4             aab          88A      2       Arapesh (Abu)    Torricelli
...           ...          ...    ...                 ...           ...
76470         zzo         144B      3  Zapotec (Zoogocho)  Oto-Manguean
76471         zzo         144T      1  Zapotec (Zoogocho)  Oto-Manguean
76472         zzo         144V      1  Zapotec (Zoogocho)  Oto-Manguean
76473         zzo         144W      6  Zapotec (Zoogocho)  Oto-Manguean
76474         zzo         144X      4  Zapotec (Zoogocho)  Oto-Manguean

[72698 rows x 5 columns]

### Preprocessing for U45

44A Gender Distinctions in Independent Personal Pronouns

In [8]:
A44 = df[df['Parameter_ID'] == '44A']

In [9]:
A44.head(10)

     Language_ID Parameter_ID  Value               Name               Family
105          abi          44A      6             Abipón           Guaicuruan
199          abk          44A      1             Abkhaz  Northwest Caucasian
338          abn          44A      6            Arabana         Pama-Nyungan
384          abu          44A      3               Abun          West Papuan
497          ace          44A      6           Acehnese         Austronesian
655          acm          44A      6           Achumawi                Hokan
976          adz          44A      6             Adzera         Austronesian
1073         aeg          44A      1  Arabic (Egyptian)         Afro-Asiatic
1501         ain          44A      6               Ainu                  NaN
1845         ala          44A      3           Alamblak                Sepik

44A:
- Value 1 = In 3rd person + 1st and/or 2nd person
- Value 2 = 3rd person only, but also non-singular
- Value 3 = 3rd person singular only
- Value 4 = 1st or 2nd person but not 3rd
- Value 5 = 3rd person non-singular only
- Value 6 = No gender distinctions

In [10]:
A44.Value = A44.Value.map({1:'In 3rd person + 1st and/or 2nd person', 2:'3rd person only, but also non-singular', 3:'3rd person singular only', 4:'1st or 2nd person but not 3rd', 5:'3rd person non-singular only', 6: 'No gender distinctions'})

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_18073/2282432204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A44.Value = A44.Value.map({1:'In 3rd person + 1st and/or 2nd person', 2:'3rd person only, but also non-singular', 3:'3rd person singular only', 4:'1st or 2nd person but not 3rd', 5:'3rd person non-singular only', 6: 'No gender distinctions'})

In [11]:
A44.Value.value_counts()

Value
No gender distinctions                    254
3rd person singular only                   61
3rd person only, but also non-singular     42
In 3rd person + 1st and/or 2nd person      18
1st or 2nd person but not 3rd               2
3rd person non-singular only                1
Name: count, dtype: int64

In [12]:
A44 = A44.dropna(axis=0)

In [13]:
A44.info()

<class 'pandas.core.frame.DataFrame'>
Index: 347 entries, 105 to 76235
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Language_ID   347 non-null    object
 1   Parameter_ID  347 non-null    object
 2   Value         347 non-null    object
 3   Name          347 non-null    object
 4   Family        347 non-null    object
dtypes: object(5)
memory usage: 16.3+ KB

In [14]:
import os
A44.to_csv('../Processed/44A.csv', index = False)