# preprocessing

In [1]:
import pandas as pd

### Mapping

In [2]:
fam = pd.read_csv('../data/languagesMSD.csv')

fam = fam.drop(['NameOLD', 'MacroareaOLD', 'MacroareaNEW',
       'LatitudeOLD', 'LatitudeNEW', 'LongitudeOLD', 'LongitudeNEW',
       'GlottocodeOLD', 'GlottocodeNEW', 'ISO639P3code',
       'FamilyNEW', 'SubfamilyOLD', 'SubfamilyNEW', 'GenusOLD', 'GenusNEW',
       'GenusIcon', 'ISO_codesOLD', 'ISO_codesNEW', 'Samples_100',
       'Samples_200', 'Country_IDOLD', 'Country_IDNEW', 'Source'], axis = 1)
fam.columns = ['Language_ID','Name', 'Familiy']

fams = {}
names = {}
i = 0
for i in range(len(fam.index)):
    abbv, family, name = fam.iloc[i][0], fam.iloc[i][2], fam.iloc[i][1]
    fams[abbv] = family
    names[abbv] = name

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_17849/2320090373.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  abbv, family, name = fam.iloc[i][0], fam.iloc[i][2], fam.iloc[i][1]

### Loading data set

In [3]:
df = pd.read_csv('../data/values.csv')

In [4]:
df['Name'] = df['Language_ID']
df['Family'] = df['Language_ID']

In [5]:
df['Name'] = df['Name'].map(names)
df['Family'] = df['Family'].map(fams)

In [6]:
df = df.drop(['ID','Code_ID', 'Comment', 'Source', 'Example_ID' ],axis=1)

In [7]:
df.dropna()

      Language_ID Parameter_ID  Value                Name        Family
0             aab          81A      2       Arapesh (Abu)    Torricelli
1             aab          82A      1       Arapesh (Abu)    Torricelli
2             aab          83A      2       Arapesh (Abu)    Torricelli
3             aab          87A      2       Arapesh (Abu)    Torricelli
4             aab          88A      2       Arapesh (Abu)    Torricelli
...           ...          ...    ...                 ...           ...
76470         zzo         144B      3  Zapotec (Zoogocho)  Oto-Manguean
76471         zzo         144T      1  Zapotec (Zoogocho)  Oto-Manguean
76472         zzo         144V      1  Zapotec (Zoogocho)  Oto-Manguean
76473         zzo         144W      6  Zapotec (Zoogocho)  Oto-Manguean
76474         zzo         144X      4  Zapotec (Zoogocho)  Oto-Manguean

[72698 rows x 5 columns]

### Preprocessing for U28

26A Prefixing vs. Suffixing in Inflectional Morphology, 85A Order of Adposition and Noun Phrase

In [8]:
A26 = df[df['Parameter_ID'] == '26A']

In [9]:
A26.head(10)

    Language_ID Parameter_ID  Value      Name               Family
22          aar          26A      2      Aari         Afro-Asiatic
98          abi          26A      2    Abipón           Guaicuruan
182         abk          26A      4    Abkhaz  Northwest Caucasian
329         abn          26A      2   Arabana         Pama-Nyungan
379         abu          26A      1      Abun          West Papuan
441         abv          26A      4      Abui    Timor-Alor-Pantar
490         ace          26A      1  Acehnese         Austronesian
560         acg          26A      4   Achagua             Arawakan
607         acl          26A      4    Acholi      Eastern Sudanic
726         aco          26A      4     Acoma              Keresan

26A:
- Value 1 = Little affixation
- Value 2 = Strongly suffixing
- Value 3 = Weakly suffixing
- Value 4 = Equal prefixing and suffixing
- Value 5 = Weakly prefixing
- Value 6 = Strong prefixing

In [10]:
A26.Value = A26.Value.map({1:'Little affixation', 2:'Strongly suffixing', 3:'Weakly suffixing', 4:'Equal prefixing and suffixing', 5:'Weakly prefixing', 6:'Strong prefixing'})

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_17849/1293340083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A26.Value = A26.Value.map({1:'Little affixation', 2:'Strongly suffixing', 3:'Weakly suffixing', 4:'Equal prefixing and suffixing', 5:'Weakly prefixing', 6:'Strong prefixing'})

In [11]:
A26.Value.value_counts()

Value
Strongly suffixing               406
Equal prefixing and suffixing    147
Little affixation                141
Weakly suffixing                 123
Weakly prefixing                  94
Strong prefixing                  58
Name: count, dtype: int64

In [12]:
A26 = A26.dropna(axis=0)

In [13]:
A26.info()

<class 'pandas.core.frame.DataFrame'>
Index: 929 entries, 22 to 76444
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Language_ID   929 non-null    object
 1   Parameter_ID  929 non-null    object
 2   Value         929 non-null    object
 3   Name          929 non-null    object
 4   Family        929 non-null    object
dtypes: object(5)
memory usage: 43.5+ KB

In [14]:
import os
A26.to_csv('../Processed/26A.csv', index = False)