# preprocessing

In [1]:
import pandas as pd

### Lang_ID to Lang name map

In [2]:
mp = pd.read_csv('../data/language_names.csv')

In [3]:
mp.head(5)

   ID Language_ID        Name    Provider
0   1         xoo        !Xóõ  ethnologue
1   2         arx    'Are'are  ethnologue
2   3     apk gan  A-Pucikwar  ethnologue
3   4         aar        Aari  ethnologue
4   5         aba        Abau  ethnologue

In [4]:
mp.drop(['ID', 'Provider'], axis = 1)
langs = {}
i = 0
for i in range(len(mp.index)):
    abbv, name = mp.iloc[i][1], mp.iloc[i][2]
    langs[abbv] = name

### langID to family

In [5]:
fam = pd.read_csv('../data/languagesMSD.csv')

In [6]:
fam = fam.drop(['NameOLD', 'NameNEW', 'MacroareaOLD', 'MacroareaNEW',
       'LatitudeOLD', 'LatitudeNEW', 'LongitudeOLD', 'LongitudeNEW',
       'GlottocodeOLD', 'GlottocodeNEW', 'ISO639P3code',
       'FamilyNEW', 'SubfamilyOLD', 'SubfamilyNEW', 'GenusOLD', 'GenusNEW',
       'GenusIcon', 'ISO_codesOLD', 'ISO_codesNEW', 'Samples_100',
       'Samples_200', 'Country_IDOLD', 'Country_IDNEW', 'Source'], axis = 1)

In [7]:
fam.columns = ['Language_ID', 'Familiy']

In [8]:
fams = {}
i = 0
for i in range(len(fam.index)):
    abbv, family = fam.iloc[i][0], fam.iloc[i][1]
    fams[abbv] = family

### Loading data set

In [9]:
df = pd.read_csv('../data/values.csv')

In [10]:
df['Name'] = df['Language_ID']
df['Family'] = df['Language_ID']

In [11]:
df['Name'] = df['Name'].map(langs)
df['Family'] = df['Family'].map(fams)

In [12]:
df = df.drop(['ID','Code_ID', 'Comment', 'Source', 'Example_ID' ],axis=1)

In [13]:
df.dropna()

      Language_ID Parameter_ID  Value               Name        Family
22            aar          26A      2                Ari  Afro-Asiatic
23            aar          33A      9                Ari  Afro-Asiatic
24            aar          37A      3                Ari  Afro-Asiatic
25            aar          38A      4                Ari  Afro-Asiatic
26            aar          51A      1                Ari  Afro-Asiatic
...           ...          ...    ...                ...           ...
76470         zzo         144B      3  Zapotec, Zoogocho  Oto-Manguean
76471         zzo         144T      1  Zapotec, Zoogocho  Oto-Manguean
76472         zzo         144V      1  Zapotec, Zoogocho  Oto-Manguean
76473         zzo         144W      6  Zapotec, Zoogocho  Oto-Manguean
76474         zzo         144X      4  Zapotec, Zoogocho  Oto-Manguean

[70427 rows x 5 columns]

### preprocessing for U2

86A Order of Genitive and Noun
85A Order of Adposition and Noun Phrase

In [16]:
A86 = df[df['Parameter_ID'] == '86A']
A85 = df[df['Parameter_ID'] == '85A']

In [17]:
A86.head(10)

    Language_ID Parameter_ID  Value      Name               Family
32          aar          86A      1       Ari         Afro-Asiatic
55          aba          86A      1      Abau                Sepik
123         abi          86A      3    Abipon           Guaicuruan
241         abk          86A      1    Abkhaz  Northwest Caucasian
349         abn          86A      3   Arabana         Pama-Nyungan
372         abo          86A      2    Arbore         Afro-Asiatic
400         abu          86A      1    Yimbun          West Papuan
450         abv          86A      1      Abui    Timor-Alor-Pantar
515         ace          86A      2  Achinese         Austronesian
570         acg          86A      1   Achagua             Arawakan

#### 86A:
- Value 1 = Genitive-Noun
- Value 2 = Noun-Genitive
- Value 3 = No dominant order

In [21]:
A86.Value = A86.Value.map({1:'Genetive-Noun', 2:'Noun_Genitive', 3:'No dominant genitive noun order'})

In [22]:
A86.Value.value_counts()

Series([], Name: count, dtype: int64)

In [23]:
A86 = A86.dropna(axis=0)

In [24]:
A86.Value.value_counts()

Series([], Name: count, dtype: int64)

In [25]:
A86.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Language_ID   0 non-null      object
 1   Parameter_ID  0 non-null      object
 2   Value         0 non-null      object
 3   Name          0 non-null      object
 4   Family        0 non-null      object
dtypes: object(5)
memory usage: 0.0+ bytes

In [26]:
A86.Parameter_ID = 'A86'

In [27]:
import os
A86.to_csv('../Processed/86A.csv', index = False)

#### A85

- value 1 = postpositions
value 2 = prepositions
value 3 = inpositions
value 4 = no dominant order
value 5 = no adpositions

In [28]:
A85.head(10)

    Language_ID Parameter_ID  Value      Name               Family
31          aar          85A      1       Ari         Afro-Asiatic
54          aba          85A      1      Abau                Sepik
122         abi          85A      2    Abipon           Guaicuruan
240         abk          85A      1    Abkhaz  Northwest Caucasian
399         abu          85A      2    Yimbun          West Papuan
449         abv          85A      5      Abui    Timor-Alor-Pantar
514         ace          85A      2  Achinese         Austronesian
569         acg          85A      1   Achagua             Arawakan
620         acl          85A      2    Acholi      Eastern Sudanic
665         acm          85A      2  Achumawi                Hokan

In [29]:
A85.Value.value_counts()

Value
1    577
2    511
4     58
5     30
3      8
Name: count, dtype: int64

In [26]:
A85.Value = A85.Value.map({1:'Postpositions', 2:'Prepositions', 3:'Inpositions', 4: 'No dominant adposition order', 5:'No adpositions'})

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_35266/2895767538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A85.Value = A85.Value.map({1:'Postpositions', 2:'Prepositions', 3:'Inpositions', 4: 'No dominant adposition order', 5:'No adpositions'})

In [27]:
A85.Value.value_counts()

Value
Postpositions                   577
Prepositions                    511
No dominant adposition order     58
No adpositions                   30
Inpositions                       8
Name: count, dtype: int64

In [28]:
A85 = A85.dropna(axis=0)

In [29]:
A85.Parameter_ID = 'A85'

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_35266/4130243604.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A85.Parameter_ID = 'A85'

In [30]:
A85.to_csv('../Processed/85A.csv', index = False)