# preprocessing

In [22]:
import pandas as pd

### Lang_ID to Lang name map

In [23]:
mp = pd.read_csv('../data/language_names.csv')

In [24]:
mp.head(5)

   ID Language_ID        Name    Provider
0   1         xoo        !Xóõ  ethnologue
1   2         arx    'Are'are  ethnologue
2   3     apk gan  A-Pucikwar  ethnologue
3   4         aar        Aari  ethnologue
4   5         aba        Abau  ethnologue

In [25]:
mp.drop(['ID', 'Provider'], axis = 1)
langs = {}
i = 0
for i in range(len(mp.index)):
    abbv, name = mp.iloc[i][1], mp.iloc[i][2]
    langs[abbv] = name

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_58371/3939394533.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  abbv, name = mp.iloc[i][1], mp.iloc[i][2]

### langID to family

In [26]:
fam = pd.read_csv('../data/languagesMSD.csv')

In [27]:
fam = fam.drop(['NameOLD', 'NameNEW', 'MacroareaOLD', 'MacroareaNEW',
       'LatitudeOLD', 'LatitudeNEW', 'LongitudeOLD', 'LongitudeNEW',
       'GlottocodeOLD', 'GlottocodeNEW', 'ISO639P3code',
       'FamilyNEW', 'SubfamilyOLD', 'SubfamilyNEW', 'GenusOLD', 'GenusNEW',
       'GenusIcon', 'ISO_codesOLD', 'ISO_codesNEW', 'Samples_100',
       'Samples_200', 'Country_IDOLD', 'Country_IDNEW', 'Source'], axis = 1)

In [28]:
fam.columns = ['Language_ID', 'Familiy']

In [29]:
fams = {}
i = 0
for i in range(len(fam.index)):
    abbv, family = fam.iloc[i][0], fam.iloc[i][1]
    fams[abbv] = family

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_58371/2108170927.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  abbv, family = fam.iloc[i][0], fam.iloc[i][1]

### Loading data set

In [30]:
df = pd.read_csv('../data/values.csv')

In [31]:
df['Name'] = df['Language_ID']
df['Family'] = df['Language_ID']

In [32]:
df['Name'] = df['Name'].map(langs)
df['Family'] = df['Family'].map(fams)

In [33]:
df = df.drop(['ID','Code_ID', 'Comment', 'Source', 'Example_ID' ],axis=1)

In [34]:
df.dropna()

      Language_ID Parameter_ID  Value               Name        Family
22            aar          26A      2                Ari  Afro-Asiatic
23            aar          33A      9                Ari  Afro-Asiatic
24            aar          37A      3                Ari  Afro-Asiatic
25            aar          38A      4                Ari  Afro-Asiatic
26            aar          51A      1                Ari  Afro-Asiatic
...           ...          ...    ...                ...           ...
76470         zzo         144B      3  Zapotec, Zoogocho  Oto-Manguean
76471         zzo         144T      1  Zapotec, Zoogocho  Oto-Manguean
76472         zzo         144V      1  Zapotec, Zoogocho  Oto-Manguean
76473         zzo         144W      6  Zapotec, Zoogocho  Oto-Manguean
76474         zzo         144X      4  Zapotec, Zoogocho  Oto-Manguean

[70427 rows x 5 columns]

### preprocessing for U3

81A: Order of Subject, Object and Verb

In [35]:
A81 = df[df['Parameter_ID'] == '81A']

In [36]:
A81.head(10)

    Language_ID Parameter_ID  Value      Name               Family
0           aab          81A      2       NaN           Torricelli
51          aba          81A      1      Abau                Sepik
118         abi          81A      2    Abipon           Guaicuruan
236         abk          81A      1    Abkhaz  Northwest Caucasian
346         abn          81A      1   Arabana         Pama-Nyungan
369         abo          81A      1    Arbore         Afro-Asiatic
395         abu          81A      2    Yimbun          West Papuan
446         abv          81A      1      Abui    Timor-Alor-Pantar
510         ace          81A      7  Achinese         Austronesian
566         acg          81A      2   Achagua             Arawakan

#### 81A:
- Value 1 = SOV
- Value 2 = SVO
- Value 3 = VSO
- Value 4 = VOS
- Value 5 = OVS
- Value 6 = OSV
- Value 7 = No_dominant_word_order

In [37]:
A81.Value = A81.Value.map({1:'SOV', 2:'SVO', 3:'VSO', 4:'VOS', 5: 'OVS', 6:'OSV', 7:'No_dominant_word_order'})

/var/folders/pt/26yk257s5nd579ngn9gyw3k40000gn/T/ipykernel_58371/3695182782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A81.Value = A81.Value.map({1:'SOV', 2:'SVO', 3:'VSO', 4:'VOS', 5: 'OVS', 6:'OSV', 7:'No_dominant_word_order'})

In [38]:
A81.Value.value_counts()

Value
SOV                       564
SVO                       488
No_dominant_word_order    189
VSO                        95
VOS                        25
OVS                        11
OSV                         4
Name: count, dtype: int64

In [39]:
A81 = A81.dropna(axis=0)

In [40]:
A81.Value.value_counts()

Value
SOV                       511
SVO                       468
No_dominant_word_order    172
VSO                        86
VOS                        24
OVS                        10
OSV                         4
Name: count, dtype: int64

In [41]:
A81.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1275 entries, 51 to 76448
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Language_ID   1275 non-null   object
 1   Parameter_ID  1275 non-null   object
 2   Value         1275 non-null   object
 3   Name          1275 non-null   object
 4   Family        1275 non-null   object
dtypes: object(5)
memory usage: 59.8+ KB

In [42]:
A81.Parameter_ID = 'A81'

In [43]:
import os
A81.to_csv('../Processed/81A.csv', index = False)