### Preprocessing for U45

44A Gender Distinctions in Independent Personal Pronouns

In [1]:
A44 = df[df['Parameter_ID'] == '44A']

NameError: name 'df' is not defined

In [21]:
A44.head(10)

    Language_ID Parameter_ID  Value      Name               Family
32          aar          86A      1       Ari         Afro-Asiatic
55          aba          86A      1      Abau                Sepik
123         abi          86A      3    Abipon           Guaicuruan
241         abk          86A      1    Abkhaz  Northwest Caucasian
349         abn          86A      3   Arabana         Pama-Nyungan
372         abo          86A      2    Arbore         Afro-Asiatic
400         abu          86A      1    Yimbun          West Papuan
450         abv          86A      1      Abui    Timor-Alor-Pantar
515         ace          86A      2  Achinese         Austronesian
570         acg          86A      1   Achagua             Arawakan

44A:
- Value 1 = In 3rd person + 1st and/or 2nd person
- Value 2 = 3rd person only, but also non-singular
- Value 3 = 3rd person singular only
- Value 4 = 1st or 2nd person but not 3rd
- Value 5 = 3rd person non-singular only
- Value 6 = No gender distinctions

In [22]:
A44.Value = A44.Value.map({1:'In 3rd person + 1st and/or 2nd person', 2:'3rd person only, but also non-singular', 3:'3rd person singular only', 4:'1st or 2nd person but not 3rd', 5:'3rd person non-singular only', 6: 'No gender distinctions'})

C:\Users\hannn\AppData\Local\Temp\ipykernel_9728\1532996682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  A86.Value = A86.Value.map({1:'Genetive-Noun', 2:'Noun-Genitive', 3:'No dominant order'})

In [23]:
A44.Value.value_counts()

Value
Genetive-Noun        685
Noun-Genitive        468
No dominant order     96
Name: count, dtype: int64

In [24]:
A44 = A44.dropna(axis=0)

In [25]:
A44.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1160 entries, 32 to 76434
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Language_ID   1160 non-null   object
 1   Parameter_ID  1160 non-null   object
 2   Value         1160 non-null   object
 3   Name          1160 non-null   object
 4   Family        1160 non-null   object
dtypes: object(5)
memory usage: 54.4+ KB

In [26]:
import os
A44.to_csv('../Processed/44A.csv', index = False)